# Framework da API e Servidor
fastapi
uvicorn[standard]
pydantic

# Análise de Imagem
deepface
opencv-python-headless
python-multipart
tf-keras

# Banco de Dados (PostgreSQL e ORM)
sqlalchemy
psycopg2-binary

# Agendador de Tarefas
apscheduler